# Exclude All
/*

# Explicit includes
!.devcontainer
!.github
!.husky
!.vscode
!@types
!src
!test
!.dockerignore
!.editorconfig
!.eslintignore
!.eslintrc.js
!.gitattributes
!.gitignore
!.mocharc.js
!.npmignore
!.nycrc
!CHANGELOG.md
!Dockerfile
!docker-compose.yml
!Makefile
!LICENSE
!package-lock.json
!package.json
!README.md
!tsconfig.eslint.json
!tsconfig.json

# Artifacts
.DS_Store
